.pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.pagination__arrow, .pagination__item {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.pagination__arrow {
  font-size: 18px;
}

.pagination__item {
  width: 36px;
  text-align: center;
}

.pagination__active {
  background-color: var(--color-blue);
  color: white;
}